body {
  padding: 20px;
}

h1 {
  margin-top: 0;
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
  color: #C0504D
}

ul {
  li {
    padding: 3px 0;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
  }
}